[submodule "segmentation_models/backbones/classification_models"]
	path = segmentation_models/backbones/classification_models
	url = https://github.com/sreegowthamj/classification_models.git
	branch = segmentation_models
